@import '../../scss/variables';
.club-main {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 1.6rem;
    
    &-header {
        display: flex;
        justify-content: space-between;
        @extend %container;
        &-title {
            color: $primary-color;
            font-size: 20px;
        }
        &-button{
            margin-top: 24px;
        }
    }
    &-jerseys {
        display: flex;
    }
}